.about-container {
    background-color: rgb(51, 49, 49);
    padding-bottom: 20px;
}

.about-container h1,
h2 {
    color: rgba(184, 29, 68, 1);
}

.color-area {
    height: 150px;
    width: 100%;
    background: linear-gradient(115deg, rgba(22, 22, 115, 1) 0%, rgba(184, 29, 68, 1) 92%);
}

.logo-about {
    position: relative;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.about-content {
    margin: 6% 24% 50px 24%;
    padding: 20px;
    color: white;
}

.about-content section {
   margin-top: 20px;
   margin-bottom: 20px;
}

.about-content header p,
section p {
    font-size: larger;
}

.about-content header ul li,
section ul li {
    font-size: larger;
}