.carrers-cont {
    color: white;
    background-image: url("/src/images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

.careers-text {
    position: absolute;
    left: 15%;
    top: 35%;

}

.careers-heading {
    padding-bottom: 10px;
    border-bottom: 1px solid hsla(0, 0%, 100%);
}

.careers-other {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.carers-other-inner {
    align-self: center;
    padding: 100px;
}
.careers-other2{
    background-color: black;
    height: 15vh;
}
.careers-link{
    font-weight:bolder;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(247, 247, 247);
    text-shadow: rgb(241, 6, 6) 5px;
    border: none;
    background: none repeat scroll 0;
}
.careers-link:hover{
    color: blue;
    text-decoration: underline;
}