
.explore-nav input {
    width: 70%;
    font-size: larger;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 10px;
    color: black;
    background-color: white;
}
.explore-nav input:focus{
    background-color:rgb(241, 239, 239);
}

.explore-nav button {
    background-color: rgb(77, 77, 220);
    font-weight: bold;
    color: white;
    border-radius: 10px;
    font-size: larger;
    padding: 10px 20px 10px 20px;
}
.explore-nav button:hover{
    color: white;
    background-color: rgb(2, 15, 110);
    font-weight: bold;
}
.explore-nav button:active{
    transform: scale(0.95);
}

.explore-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.Section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
}

.explore-sidebar .Section a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    margin: 5px 0;
    border-radius: 5px;
    font-size: large;
    transition: background-color 0.3s;
    cursor: pointer;
}
.explore-sidebar .Section a.active {
    background: linear-gradient(45deg, rgb(77, 77, 220), #6667ae);
    color: white;
    font-weight: bold;
}

.explore-sidebar .Section h3 {
    margin-bottom: 10px;
}

.explore-container{
    display: flex;
    background-color: white;
}


.explore-container .explore-sidebar {
    width: 20%;
    background-color: white;
    height: auto;
    padding: 30px;
}