
.outer img {
    margin-top: 20px;
    height:auto;
    width:100%;
}

.inner {
    position: absolute;
    top: 220px;
    left: 200px;
    width: 600px;
    height: 200px;
}

.innerLink {
    cursor: pointer;
    margin: 0 0 25px 0;
    width: 200px;
    display: flex;
    column-gap: 20px;
}

.innerCont {
    padding: 0 0 15px 0;
}

.btn-box input,
.btn-box button {
    font-size: larger;
    margin: 20px 10px 20px 0;
    padding: 5px;
    border-radius: 5px;
}
.btn-box input{
    width: 50%;
}
.btn-box button:hover{
    color: white;
    background-color: rgb(114, 0, 114);
}
.btn-box button:active{
    scale: 0.95;
}

.btn-box input:focus{
    background-color: rgb(244, 236, 236);
    color: black;
}
.btn-box a{
    color: rgb(98, 92, 92);
}
.btn-box a:hover{
color: rgb(114, 0, 114);
}