.navbar {
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0;
}

.upper-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 226, 1) 61%);
}

.lower-navbar {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 226, 1) 61%);
}

.lower-navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 5px 25px;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}

.nav-title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.nav-title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.nav-links {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
}

.nav-links .nav-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: larger;
}

.nav-links a:hover {
    cursor: pointer;
    color: rgb(255, 0, 247);
}

.lower-navbar a:hover {
    color: rgb(255, 0, 247);
}

.userDetail {
    right: 0;
    top: 0;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 1px;
    padding: 30px 30px 10px 25px;
    width: 250px;
    border-radius: 5px 5px 5px 10px;
    z-index: 1000;
    flex-direction: column;
    display: flex;
}

.userDetail .closeBTN {
    font-size: 1.3rem;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 2px;
    font-weight: 400;
    transition: transform 0.5s ease-in-out;
}

.userDetail .closeBTN:hover {
    scale: 1.03;
    color: red;
}

.userDetail a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    border: 2px solid #007bff;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.userDetail a:hover {
    background-color: #007bff;
    color: white;
}

.userDetail a:active {
    scale: 0.98;
}

.userDetail .options {
    list-style-type: none;
    padding: 0;
}

.userDetail .options li {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.userDetail .options li:hover {
    color: #007bff;
}