.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    padding:  20px 0 20px 0;
    margin: 40px 0 40px 0;
    overflow-y: scroll;
    height: 1200px;
    border-bottom: 10px solid  #d3cfcf;
    border-radius: 10px;
}

.card {
    transition: transform ease 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(1);
}

.card-text {
    display: flex;
    justify-content: space-between;
}
