.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px 0;
}

.Social-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    text-align: left;
    padding: 20px 0 20px 0;
}

.links {
    padding: 10px;
}

.links li a {
    font-size: 1.1rem;
    text-decoration: none;
}

.links li a:hover {
    color: rgb(120, 7, 226);
    text-decoration: underline;
}